server:
  host: "localhost"
  port: 2525

oauth:
  client_id: "<your-strava-client-id>"
  client_secret: "<your-strava-client-secret>"
  auth_url: "https://www.strava.com/oauth/authorize"
  token_url: "https://www.strava.com/oauth/token"
  target_url: "http://localhost:2525" # Redirect to after authentication
  scopes:
    - activity:read_all

strava:
  api_url: "https://www.strava.com/api/v3"
  request_period: 10 # In seconds, value 10 is suitable for a limit of 100 requests per 15 minutes
  activities_per_page: 100 # Strava maximum is 200

service:
  data_dir: "data"
  store_tiles: true